@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    overflow-x: hidden;
    
  }
 
  input.accept{
    background: transparent !important;
  }
  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}
.container-custom{
  padding: 0 16px;
}

@media screen and (max-width: 1024px) {
  .color-mobile{
    color: #051232 !important;
  }
}
@media screen and (min-width: 1055px) {
  .container-custom{
    padding: 0 32px;
  }
  
}

input{
  outline: none !important;
}
header:hover{
  background: #fff !important;
  color: #020242 !important;
  transition: all 0.6s;
}
header:hover .logo{
  display: none;
}
header:hover .logoSecondary{
  display: block;
}
header.scroll-up:hover .logoSecondary{
  display: block;
}
header.scroll-up:hover .logo{
  display: none;
}
header.scroll-down{
  background: #fff;
  color: #020242;
  transition: all 0.6s;
}
header.scroll-up{
  background: transparent;
  color: #fff;
  transition: all 0.6s;
}
.contrast:hover{
  filter: contrast(0.6);
  transition: all 0.5s;
}
header{
  background: transparent;
  color: #fff;
  transition: all 0.6s;
}
header.not-home{
  background: #fff;
  color: #020242;
  
}
header.not-home .logoSecondary{
  display: block !important;
}
header.not-home .logo{
  display: none !important;
}
header .logo{
  display: block;
}
header .logoSecondary{
  display: none;
}
header.scroll-down .logoSecondary{
  display: block;
}
header.scroll-down .logo{
  display: none;
}

header.scroll-up .logoSecondary{
  display: none;
}
header.scroll-up .logo{
  display: block;
}
.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}
header input::placeholder{
  color: currentColor !important;
  font-size: 14px;
}
@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}